<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.spring.dao.PushMassegeDao">

   
    <insert id="insertPushmassege" parameterType="PushMassege" >
        insert into push_content (title,content,pushtime,user_name) values(#{title},#{content},#{pushtime},#{user_name})
    </insert>
    <select id="getPushMassege"  resultType="PushMassege" >
        select * from push_content
    </select>

</mapper>
